@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "RoleList";
}

<h2>Roles In App</h2>
@Html.ActionLink("Create New Role", "Create")
<table class="table table-striped">
    <thead>
        <tr><td>Name</td></tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
            </tr>
        }

    </tbody>


</table>
