@model IEnumerable<VidlyApp.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminPage.cshtml";
}

<h2>Customers</h2>

<p>
    <a href="~/Customer/Create/" class="btn btn-primary">Add New Customer</a>
</p>
<br />
<table id="customers" class="table table-condensed table-hover">
    <thead>
    <tr>
        <th>
            Customer
        </th>
        <th>
            Membership Type
        </th>
        <th>
            Action
        </th>
         
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "Details", new { id = item.Id })

            </td>

            <td>
                @Html.DisplayFor(modelItem => item.MembershipType.Name)
            </td>
            <td><button data-customer-id="@item.Id" class="btn-link btn-danger js-delete">Delete</button></td>
             
        </tr>
}
        </tbody>

</table>
@section scripts{
    <script>
        $(document).ready(function () {
           $("#customers").DataTable();
            
            $("#customers").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Are You Sure You Want To Delete This Customer?", function (result) {
                    if (result) {

                        $.ajax({
                            url: "/Api/Customer/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                //console.log("success");
                                button.parents("tr").remove();
                            }
                        });

                    }
                });
                

            });
            
        });
    </script>
    }